body {
    font-family: var(--font-roboto), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: var(--background);
    color: var(--foreground);
  }