.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menuItem {
    margin-bottom: 16px;
  }
  
  .menuLink {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
  }
  
  .menuLink:hover {
    background-color: #444;
    color: #ddd;
  }